<nav id="nav-bar" class="navbar navbar-expand-lg custom-nav navbar-light fixed-top sticky">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="mdi mdi-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" id="main_nav">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link"  href="/login">Inicio</a>
        </li>

        <li class="nav-item" >
          <a class="nav-link" href="/login">
            Iniciar sesión
          </a>
       
      </ul>
    </div>


  </div>
</nav>
<ngx-spinner bdColor="rgba(43, 49, 127,0.8)" size="medium" color="#fdbf21" type="ball-climbing-dot" [fullScreen]="true">
  <p style="color: #fdbf21">Cargando...</p>
</ngx-spinner>



<router-outlet></router-outlet>
